* {
    box-sizing: border-box
}
body {
    font-family: 'Roboto', sans-serif;
    color: #212A2F;
}
.app { 
    max-width: 1440px;
    margin: 0 auto;
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    padding: 0 21px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 21px;
}
.header-item {
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 1.7px;
    
}
.header-inner{
    padding-right: 36px;
    padding-top: 3px;
}
.header-inner:last-of-type {
    padding-right: 0;
}
.logo {
    height: 40px;
}
.icons {
    padding-right: 20px;
} 
.icon {
    padding-left: 18px;
}
.img {
    width: 100%;
}
.iconsitem {
    padding: 0 10px;
}
.first-block {
    min-height: 740px;
    background: url("../images/background.png");
    font-size: 16px;
    color: white;
}
.first-wrap {
    padding-left: 54px;
    padding-bottom: 66px;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-weight: 700;
}
.first-head {
    font-size: 48px;
    font-weight: 700;
    line-height: 63px;
    padding-top: 504px;
    padding-bottom: 11px;
}
.first-buttons {
    padding-top: 24px;
    display: flex;
}
.buttonwrap {
    padding-right: 24px;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 48px;
    min-width: 180px;
    padding: 17px 0 15px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    background: white;
    cursor: pointer;
    transition: transform 300ms linear;
}
.button:hover {
    transform: scale(1.05);
}
.button:active {
    transform: scale(1.1);
}
.button-black {
    background-color: #212A2F;
    color: #fff;
}
.h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 130%;
    padding-bottom: 24px;
}
.h3 {
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 22px;
    line-height: 29px;
}
.fav-h2 {
    padding-top: 119px;
    padding-bottom: 32px;
    margin: 0 auto;
    text-align: center;
}
.fav-h3 {
    padding-top: 17px;
    padding-bottom: 10px;
    border-bottom: 1px solid #D3D4D5;
}
.fav-name {
    display: flex;
    align-items: center;
    padding-top: 11px;
}
.fav-icon {
    padding-right: 12px;
}
.fav-wrap {
    margin: 0 auto;
    display: flex;
    max-width: 586px;
    justify-content: space-between;
}
.fav-txt {
    padding: 0 30px 0 30px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
    line-height: 24px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 500ms linear;
}
.fav-txt:hover {
    border-bottom: 2px solid #000;
}
.fav-imageitems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 2px solid #D3D4D5;
    padding-top: 34px;
    padding-bottom: 142px;
    max-width: 1236px;
    margin: 0 auto;
}
.fav-imageitem {
    flex-basis: 396px;
}
.fav-imagebg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.fav-image {
    position: relative;
    min-height: 396px;
    background: wheat;
    padding: 144px 60px 0 60px;
}
.fav-btnwrap {
    padding-bottom: 12px;
    position: relative;
    z-index: 10;
}
.fav-lines {
    max-width: 336px;
    margin: 0 auto;
}
.seasons {
    text-align: center;
}
.seasons-h2 {
    padding-top: 52px;
    padding-bottom: 54px;
}
.seasons-txt {
    padding-bottom: 30px;
    font-size: 16px;
    font-weight: 700;
}
.seasons-wrap {
    display: flex;
    justify-content: center;
}
.seasons-btnwrap {
    padding: 0 12px;
}
.sliders {
    position: relative;
    margin: 0 auto;
    max-width: 1236px;
    padding: 119px 0 134px 0;
}
.imgwrap {
    max-width: 396px;
    max-height: 396px;
}
.slider-item {
    max-width: 420px;
    margin: 0 auto;
}
.sliderhead, .slidertext {
    padding: 0 20px;
}
.sliderhead {
    padding-top: 17px;
}
.slidertext {
    padding-top: 10px;
    font-size: 16px;
    line-height: 150%;
}
.owl-prev, .owl-next {
    border: 0;
    background-color: transparent;
}
.owl-prev img {
    position: absolute;
    left: -97px;
}
.owl-next img {
    position: absolute;
    left: -14px;
}
.owl-theme  {
    position: relative;
}
.owl-prev {
    position: absolute;
    top: 212px;
    z-index: 1
}
.owl-next {
    position: absolute;
    top: 212px;
    right: 0;
}
.main-content, .arrivals, .stories {
    position: relative;
    margin: 0 auto;
    max-width: 1236px;
    padding: 119px 0 134px 0;    
}
.custom-nav {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
}
.owl-prev, .owl-next {
    position: absolute;
    color: inherit;
    background: none;
    border: none;
    z-index: 100;
}
.owl-nav {
    background: none;
}
.owl-prev {
    left: 0;
}

.owl-next {
    right: 0;
}
.nature, .reverse, .signup {
    text-align: center;
    padding-top: 44px;
    max-width: 644px;
    margin: 0 auto;
}
.nature-txt {
    line-height: 24px;
    letter-spacing: 0.5px;
    padding-bottom: 26px;
}
.nature-button {
    max-width: 384px;
    margin: 0 auto;
}
.arrivals .imgwrap {
    background: #F5F5F5;
}
.reverse-txt {
    max-width: 645px;
    padding-bottom: 26px;
    line-height: 24px;
    letter-spacing: 0.5px;
}
.reverse-button {
    max-width: 384px;
    margin: 0 auto;
}
.signup {
    max-width: 823px;
}
.signup-txt {
    padding-bottom: 50px;
}
.signup-form {
    display: flex;
    justify-content: space-between;
    max-width: 711px;
    margin: 0 auto;
    padding-bottom: 23px;
}
.signup-button {
    min-width: 111px;
}
.signup-input {
    flex-basis: 588px;
    border: 0;
    border-bottom: 2px solid #212A2F;
    padding-left: 65px;
}
.signup-input::placeholder {
    opacity: .2;
    color: #000;
}
.signup-links {
    padding-bottom: 48px;
    color: #74797C;
}
.signup-link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: text-shadow 200ms linear;
}
.signup-link:hover {
    text-shadow: 1px 1px #74797C;
}
.footer {
    background: #212A2F;
    min-height: 821px;
    color: white;
    padding: 72px 54px 0 54px;
}
.footerlist {
    padding-bottom: 85px;
}
.footerlist, .footerwrap {
    display: flex;
    flex-wrap: wrap;
}
.footerwrap {
    justify-content: space-between;
}
.ul {
    flex-basis: 333px;
}
.li {
    padding-bottom: 16px;
    font-size: 12px;
    cursor: pointer;
}
.li:first-child, .footerhead {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 21px;
}
.footerinner {
    max-width: 293px;
}
.footertext {   
    line-height: 18px;
    padding-bottom: 16px;
    font-size: 12px;
}
.footerflags {
    padding-right: 141px;
    padding-bottom: 126px;
}
.text-center {
    text-align: center;
}
@media screen and (max-width: 1440px){
    .owl-controls {
        display: none;
    }
}
@media screen and (max-width: 1270px){
    .h2 {
        padding-left: 20px;
    }
    .fav-imageitems {
        justify-content: center;
        gap: 20px;
    }
}
@media screen and (max-width: 773px) {
    .li:last-child {
        padding-bottom: 30px;
    }
    .footerflags {
        padding-right: 0;
    }
}
@media screen and (max-width: 400px) {
    .sliderhead {
        padding-left: 10px;
    }
}